/* Write your CSS here */

.li-bg {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.btn-bg {
  height: 25px;
  width: 60px;
  background-color: transparent;
  color: #ff0b37;
  border: solid 1px #ff0b37;
  border-radius: 10px;
}
